:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  /* pineapple colors */
  --background: #fee332;
  --orange: #e38003;
  --brown: #c17a05;
  --green: #789e4f;
  --lightgreen: #bed09f;
}

.level {
  width: 210px;
  height: 30px;
  background: #9cbab4;
  border-radius: 5px;
  overflow: hidden;
}

.levelFill {
  width: 0%;
  height: 100%;
  background: #009579;
  transition: all 0.5s;
}

.levelPrcnt {
  position: absolute;
  font: bold 14px 'Quicksand', sans-serif;
  color: white;
}

.skillLevel {
  position: absolute;
  font: bold 14px 'Quicksand', sans-serif;
  color: white;
}

.input-field {
  background-color: white !important;
}

;

/* label color */
.input-field label {
  color: #000 !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}


.task {
  border: 1px solid black;
  background-color: burlywood !important;
  padding: 10px !important;
}

;