:root {
  --animate-duration: 1s;
  --animate-delay: 1s;

  /* pirate colors */
  --black: #000000;
  --red: #760a0a;
  --brown2: #5e2a0e;
  --wood: #A47449;
  --yellow: #ddd417;
}
/* pirate changes */
.pirateBody {
  font-family: 'Homemade Apple';
  background-color: #050404 !important;
}

h1 {
  color: white;
}

.tasks {
  background: var(--orange);
  border: 2px solid var(--brown);
}

.modal {
  /* background-image: url("/assets/Images/981.jpg");
  background-size: cover;
  background-attachment: fixed; */
}

.task {
  border: 2px solid var(--brown2) !important;
  border-radius: 2% !important;
  background-color: #A47449 !important;
  padding: 10px !important;
}


.level {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #9cbab4;
  border-radius: 5px;
  overflow: hidden;
}

.levelFill {
  width: 0%;
  height: 100%;
  background: #009579;
  transition: all 3s;
}

.levelPrcnt {
  position: absolute;
  font: bold 25px 'Quicksand', sans-serif;
  color: white;
}

.levelNotify {
  position: absolute;
  font: bold 25px 'Quicksand', sans-serif;
  color: yellow;
  opacity: 0;
}

.skillLevel {
  position: absolute;
  font: bold 20px 'Quicksand', sans-serif;
  color: white;
}

.input-field {
  background-color: white !important;
}



/* label color */
.input-field label {
  color: #000 !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}


/* switch text color */
.switch label {
  color: black !important;
}

